blockquote {
  color: gray;

}

.quotations {
  font-size: 24px;
}

.button {
  background-color: lightskyblue;
  padding:10px;
  border-radius: 6px;
  color: snow;
  text-decoration: none;
}

.button:hover {
  background-color: darkturquoise;
}